#outerbox
{
    width: 1280px;
    overflow: hidden;
}

#sliderbox
{
    position: relative;
    width: 5500px;
    animation: slide 20s infinite;
}

#sliderbox img
{
    float :left
}
@keyframes slide
{
    0%
    {  
        left: 0px;
    }
    25%
    {
        left: -1280px;
    }
    100%
    {
        left: -1280px;
    }
}
.high-res-image
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
