.top-right {
    position: absolute;
    top: 10;
    right: 16px;

    
  }

*
{
    margin: 0;
    padding: 0;
}

#menu ul
{
    list-style: none;
    z-index: 1000;
}

#menu ul li 
{
    background-color: tomato;
    border: 1px solid white;
    width: 252px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    float: left;
    position: relative;


}

#menu ul li a
{
    text-decoration: none;
    color: whitesmoke;
    display: block;
}

#menu ul li a:hover
{
    background-color: rgb(33, 63, 83);

}

#menu ul ul
{
    position: absolute;
    display: none;
}
        
#menu ul li:hover > ul
{
    display: block;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 5px whitesmoke;
    font-size: 100px;
}

.p2{
    font-family: Arial, Helvetica, sans-serif;
}

.p1{
    font-family: Arial, Helvetica, sans-serif;
}
.p3{
    font-family: Arial, Helvetica, sans-serif;
}

#h1
{
    float:"center"
}
